:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --bg-color: #F5F5F5;
    --sec-bg-color: #2F303A;
    --thr-bg-color: #F5F4FA;
    --black-color: #000000;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
}

.main-page {
    letter-spacing: 0.03em;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var(--primary-text-color);
    background: var(--bg-color);
}

.head {
    background-color: var(--white-color);
}

.list {
    list-style: none;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.logo-blue {
    color: var(--accent-color);
}

.logo-black {
    color: var(--black-color);
}

.navi-item {
    font-weight: 500;
    color: var(--secondary-text-color);
}

.navi-item:hover, .nav-item:focus, .contact:hover, .contact:focus {
    color: var(--accent-color);
}

.current {
    color: var(--accent-color);
}

.link {
    text-decoration: none;
}

.contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.hero {
    background-color: var(--sec-bg-color);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
}

.button {
    font-family: inherit;
    cursor: pointer;
    text-align: center;
    background-color: var(--accent-color);
    color: var(--white-color);
    border: none;
}

.button:hover, .button:focus {
    color: var(--accent-color);
    background-color: var(--white-color);
}

.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
  }

.feature-title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color:var(--secondary-text-color);
  }
  
.feature-paragraph {
    font-size: 14px;
    line-height: 1.71;
  }
  
.wedo-list {
    list-style-type: none;
}

.dreamteam-title, .wedo-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color:var(--secondary-text-color);
  }
  
.dreamteam {
    background: var(--thr-bg-color);
  }

.teamplayer {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color:var(--secondary-text-color);
  }
  
.teamplayer-position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }

.footer {
    background-color: var(--sec-bg-color);
  }

.address {
    text-decoration: none;
}

.address, .adress-item {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color:var(--white-color)
  }
  
.address-item {
    color: var(--footer-contact-color);
    font-weight: 400;
    
  }
  
.address-item:hover, .address-item:focus {
    color: var(--accent-color);
  }
  
.logo-white {
    color:var(--white-color)
  }
  
.portfolio {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    background: var(--white-color)
  }
  
.pad-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    background: var(--thr-bg-color);
    border: none;
  }

  .pad-button:hover, .pad-button:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
  }
  
  .project-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);
  }
  
.project-paragraph {
    font-size: 16px;
    line-height: 1.88;
  }